.header {
    width: 100rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    z-index: 4;
    background: #e5e5e5;
    padding-top: 7rem;
    justify-content: center;
    margin: 0 auto;
}

.logoArea {
    height: 15rem;
    background: #0b445f0e;
    padding-left: 0.5rem;
    border-top: 4px solid #15B873;
    border-left: 4px solid #15B873;
    width: 30rem;
    cursor: pointer;
    overflow: hidden;
}


.logo {
    width: 25rem;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-right: -3.5rem;
}

.linkList {
    display: flex;
    list-style: none;
    height: 6.5rem;
    align-items: center;
    flex-direction: row-reverse;
    font-size: 1.8rem;
    background: #0b445f27;
    border-bottom: 4px solid #15B873;
    margin: 0;
    padding-left: 0;
    padding-right: 1rem;
    
}

.link {
    display: flex;
    margin: 0 5px;
    align-items: center;
    flex-direction: row-reverse;
    border-left: 1px solid #15b8748f;
    padding-left: 2rem;
    height: 100%;
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.2s;
}


.link:hover {
    color: #fff;
}

.link:last-child {
    margin-left: 0;
    border: 0;
}


.linkIcon {
    width: 3rem;
    margin-left: 5px;
    margin-top: 1rem;
}


.phoneIcon {
    margin-left: 8px;
    margin-bottom: 3px;
}

.questionMark {
    width: 2.5rem;
    margin-left: 2px;
    margin-bottom: 2px;
}

.linkText {
    opacity: 0.5;
}

.footer {
    font-size: 1.7rem;
    background: #06364B;
    color: rgba(255, 255, 255, 0.603);
    display: flex;
    flex-direction: row-reverse;
    padding: 1rem 2rem 0 0;
    border: 2px dashed rgba(255, 255, 255, 0.384);
    border-left: 0;
    border-right: 0;
    display: none;
    align-items: center;

}

.universityLogo {
    width: 4rem;
    margin-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
}

.uniLogoText {
    text-align: right;
    line-height: 2.1rem;
    margin: 0 0 1rem 0;
}